<mat-toolbar color="primary">
    <div>
        <button mat-icon-button (click)="onToggleSidenav()" matTooltip="Open the menu.">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxHide.xs>
      <h1 id="project-name" matTooltip="The project you're currently on.">No open project</h1>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end">
      <img src="../../../assets/img/stockprofile.png" alt="user-photo" class="user-photo" matTooltip="Yep. That's you!" (click)="openProfile()">
      <h1 class="user-name" matTooltip="That should be you. Right?" (click)="openProfile()">John Wick</h1>
      <button mat-icon-button>
          <mat-icon id="settings-icon" matTooltip="Change user settings">settings</mat-icon>
      </button>
    </div>
</mat-toolbar>
