<div fxLayout="row" fxLayoutAlign="center center" id="first-div">
  <div id="outer-div">
    <div fxLayout="row" fxLayoutAlign="center center">
        <h1>Login</h1>
    </div>
    <h3>Username:</h3>
    <input matInput type="text" placeholder="username"> <br>
    <mat-error>You need to enter a valid username</mat-error> <br>
    <a>Forgot your username?</a>
    <h3>Password</h3>
    <input matInput type="password" placeholder="password"> <br>
    <mat-error>You need to enter a valid password</mat-error> <br>
    <a>Forgot your password?</a>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-button>Login</button>
      <button mat-menu-item>Login with Google</button>
    </div>
    <h4>Don't have an account?</h4>
    <a routerLink="/register">Register.</a>
  </div>
</div>
