<div fxLayout="row" fxLayoutAlign="center center" id="first-div">
  <div id="outer-div">
    <div fxLayout="row" fxLayoutAlign="center center">
        <h1>Login</h1>
    </div>
    <div id="inner-div">
        <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
          <h3>Username:</h3>
          <mat-form-field>
              <input matInput type="text" name="inUser" ngModel #user="ngModel" placeholder="Username" required>
              <mat-error>You need to enter a valid username</mat-error>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="center center">
              <a class="forgot-a">Forgot your username?</a>
          </div>
          <h3>Password</h3>
          <mat-form-field>
              <input matInput name="inPass" ngModel #pass="ngModel" placeholder="Password" required type="password">
              <mat-error *ngIf="pass.invalid">You need to enter a valid password</mat-error>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="center center">
              <a class="forgot-a">Forgot your password?</a>
          </div><br>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button type="submit">Login</button><p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <a href="www.google.com">
              <img src="../../assets/img/google.png" alt="google_sign-in">
            </a>
          </div>
          <h4>Don't have an account?</h4>
          <a routerLink="/start/register" class="reg-link">Register.</a>
        </form>
    </div>
  </div>
</div>
