<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/start/home">
          <img src="../../../assets/img/scrum.png" id="logo" alt="logo">
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="40px" class="navigation-items">
            <li>
                <a routerLink="/start/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <li>
                <a routerLink="/start/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
            </li>
            <li>
                <button mat-button [matMenuTriggerFor]="menu" class="dropbtn">Getting Started</button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/start/login" class="matMenuButtons">Login</button>
                    <button mat-menu-item routerLink="/start/register" class="matMenuButtons">Register</button>
                    <button mat-menu-item routerLink="/start/documentation" class="matMenuButtons">Docs</button>
                  </mat-menu>
            </li>
        </ul>
    </div>
  </mat-toolbar>
