<div fxLayout="row" fxLayoutAlign="center center" id="first-div">
  <div fxLayout="row" fxLayoutAlign="center center" id="title-div">
    <h1>New Project</h1>
  </div>
  <button mat-raised-button color="primary">X</button>
  <mat-form-field>
    <img src="" alt="">
    <a href="">Change photo</a>
    <h3>Name</h3>
    <input matInput type="text" placeholder="The name of your project.">
  </mat-form-field>
  <mat-form-field>
    <h3>Description</h3>
    <textarea matInput rows="6" placeholder="Insert a short description of your project here."></textarea>
  </mat-form-field>
  <mat-form-field>
    <h3>Add Members</h3>
  </mat-form-field>
  <mat-form-field>
    <h4>Start Date</h4>
    <h4>End Date</h4>
    <mat-radio-button value="hasend"></mat-radio-button>
  </mat-form-field>
  <mat-form-field>
      <button mat-raised-button color="primary">Create</button>
  </mat-form-field>

</div>
