#fulldialog{
 min-width: 400px;
}

#project-pic{
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin-right: 20px;
}

#createbutt{
  margin-top: 20px;
}

#endbutt{
  margin: 19px 0px 0px 10px;
  font-weight: bold;
}

#picker2{
  margin-top: -2px;
}

#changephoto{
  text-decoration: none;
  font-weight: bold;
  color: rgb(51, 51, 143);
}

#date2{
  margin: 21px 0px 0px 10px;
}

.divchangepho{
  margin: 15px 0px 0px -20px;
}

.img-input{
  display: none;
}

#select-div{
  width: 150px;
  padding-right: 15px;
}

#deletebutton{
  height: 80%;
  margin: 5px 0px 0px 10px;
}
