<div id="fulldialog">
  <div fxLayout="row" fxLayoutAlign="center center" id="title-div">
    <h1>New Project</h1>
    <div fxFlex fxLayout fxLayoutAlign="end">
      <button mat-raised-button color="primary" (click)="onNoClick()">X</button>
    </div>
  </div>
  <form (submit)="onAddProject(projectForm)" #projectForm="ngForm">
  <div mat-dialog-content>
    <div fxLayout="row">
      <div fxLayout="column">
        <img src="../assets/img/stockprofile.png" alt="project-pic" id="project-pic">
        <div fxLayoutAlign="center center" class="divchangepho">
            <mat-icon>unarchive</mat-icon>
            <a href="" id="changephoto">Change photo</a>
        </div>
      </div>
    <div fxLayout="column">
      <h3>Name</h3>
      <mat-form-field>
        <input matInput type="text" name="inName" #name="ngModel" ngModel placeholder="The name of your project." required minlength="3" maxlength="15">
        <mat-error *ngIf="name.invalid">You need to enter a name.</mat-error>
      </mat-form-field>
      <h3>Description</h3>
      <mat-form-field>
        <textarea matInput rows="6" name="inDesc" #desc="ngModel" ngModel placeholder="Insert a short description of your project here." required minlength="5" maxlength="150"></textarea>
        <mat-error *ngIf="desc.invalid">You need to enter a description.</mat-error>
      </mat-form-field>
      <h3>Add Members</h3>
      <mat-form-field>
        <div fxLayout="row" fxLayoutAlign="center center">
        <input matInput type="text" placeholder="Search by username.">
        <button mat-raised-button color="primary">Add</button>
        </div>
      </mat-form-field>
      <mat-accordion multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Members
          </mat-expansion-panel-header>
          <p></p>
          <mat-action-row>
            <mat-form-field>
              <mat-label>Role</mat-label>
              <select matNativeControl required>
                <option value="ScrumMaster">ScrumMaster</option>
                <option value="Product Owner">Product Owner</option>
                <option value="Team Member">Team Member</option>
              </select>
            </mat-form-field>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <p class="info-text mat-body-1">No members added yet.</p>
      <div fxLayout="row">
          <div fxLayout="column">
            <h4>Start Date</h4>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" name="inDate1" #date1="ngModel" ngModel placeholder="Choose a date" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="date1.invalid">You need to enter an initial date.</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column">
              <mat-checkbox (change)="changeCheck($event)" id="endbutt" color="primary">End Date</mat-checkbox>
            <div id="date2">
            <mat-form-field id="picker2">
              <input matInput [matDatepicker]="picker2" name="inDate2" #date2="ngModel" ngModel placeholder="Choose a date" [disabled]="disabledDate">
              <mat-datepicker-toggle matSuffix [for]="picker2" [disabled]="disabledDate"></mat-datepicker-toggle>
              <mat-datepicker #picker2 [disabled]="disabledDate"></mat-datepicker>
              <mat-error *ngIf="date2.invalid">You need to enter a name.</mat-error>
            </mat-form-field>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="primary" id="createbutt" type="submit" matTooltip="Are you sure everything's ok?">Create</button>
</div>
</form>
</div>
