<div id="fulldialog">
  <form (submit)="saveProfile(profileForm)" #profileForm="ngForm">
  <div fxLayout="row" fxLayoutAlign="center center" id="title-div">
    <h1>My Profile</h1>
    <div fxFlex fxLayout fxLayoutAlign="end">
      <button mat-raised-button color="primary" (click)="onNoClick()">X</button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <h4 id="usernameh4">{{user.name}}</h4>
  </div>
  <div mat-dialog-content>
    <div fxLayout="row">
      <div fxLayout="column">
        <img [src]="url" alt="user-pic" id="user-pic">
        <div fxLayoutAlign="center center" class="divchangepho">
            <input type="file" (change)="onFileChanged($event)" accept="image/*" class="img-input" #fileInput>
            <mat-icon (click)="fileInput.click()">unarchive</mat-icon>
            <a (click)="fileInput.click()" id="changephoto">Change photo</a>
        </div>
      </div>
      <div fxLayout="column">
        <h3>Name</h3>
        <mat-form-field>
          <input matInput type="text" placeholder={{thisname.name}} #name="ngModel" name="inName" ngModel [disabled]="disabledUser" required>
          <mat-error *ngIf="name.invalid">You can't leave this blank</mat-error>
        </mat-form-field>
        <button mat-raised-button type="button" color="lightgray" (click)="changeCheck($event)" matTooltip="Click to change your name">Unlock/lock name</button>
        <h3>E-mail</h3>
        <mat-form-field>
          <input matInput type="text" placeholder={{thisemail.name}} ngModel #email="ngModel" name="inMail" ngModel [disabled]="disabledEmail" required>
          <mat-error *ngIf="email.invalid">You can't leave this blank</mat-error>
        </mat-form-field>
        <button mat-raised-button type="button" color="lightgray" (click)="changeCheck2($event)" matTooltip="Click to change your e-mail">Unlock/lock e-mail</button>
        <a><h4>Change password</h4></a>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button type="submit" color="primary">Save</button>
  </div>
  </form>
</div>
