<div id="fulldialog">
  <form (submit)="saveProfile(profileForm)" #profileForm="ngForm">
  <div fxLayout="row" fxLayoutAlign="center center" id="title-div">
    <h1>My Profile</h1>
    <div fxFlex fxLayout fxLayoutAlign="end">
      <button mat-raised-button color="primary" (click)="onNoClick()">X</button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <h4 id="usernameh4">{{username}}</h4>
  </div>
  <div mat-dialog-content>
    <div fxLayout="row">
      <div fxLayout="column">
        <img [src]="url" alt="user-pic" id="user-pic">
        <div fxLayoutAlign="center center" class="divchangepho">
            <input type="file" (change)="onFileChanged($event)" accept="image/*" class="img-input" #fileInput>
            <mat-icon (click)="fileInput.click()">unarchive</mat-icon>
            <a (click)="fileInput.click()" id="changephoto">Change photo</a>
        </div>
      </div>
      <div fxLayout="column">
        <h3>Name</h3>
        <mat-form-field>
          <input matInput pattern="([A-z0-9À-ž\s]){0,256}" type="text" [ngModel]=curname #name="ngModel" name="inName" [disabled]="disabledUser" required>
          <mat-error *ngIf="name.invalid">Use the  correct format.</mat-error>
        </mat-form-field>
        <button mat-raised-button type="button" color="lightgray" (click)="changeCheck($event)" matTooltip="Click to change your name">Unlock/lock name</button>
        <h3>E-mail</h3>
        <mat-form-field>
          <input matInput pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="text" [ngModel]=curemail #email="ngModel" name="inMail" [disabled]="disabledEmail" required>
          <mat-error *ngIf="email.invalid">Use the  correct format</mat-error>
        </mat-form-field>
        <button mat-raised-button type="button" color="lightgray" (click)="changeCheck2($event)" matTooltip="Click to change your e-mail">Unlock/lock e-mail</button>
        <a (click)="changePass()"><h4>Change password</h4></a>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button type="submit" color="primary">Save</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button type="button" color="warn" id="deletebtn" (click)="deleteAccount()">Delete account</button>
  </div>
  </form>
</div>
