<div fxLayout="row" fxLayoutAlign="center center">
  <img src="../../assets/img/scrum.png" alt="logo" id="home-logo">
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <img src="../../assets/img/graph1.png" id="graph">
  <h1>This is a web page, <br> made for you to test.</h1>
  <button mat-button background-color="primary" routerLink="/start/register">Get Started</button>
</div>
<div>
  <p>Lorem ipsum dolor amet leggings craft beer tousled, gluten-free live-edge roof party single-origin coffee meh lorem ramps tempor snackwave anim yr cronut. Scenester laboris mumblecore intelligentsia, ethical woke in cillum vegan trust fund fashion axe disrupt. Cray dreamcatcher pok pok est in small batch humblebrag. Retro nulla gochujang XOXO, lumbersexual waistcoat copper mug beard sustainable deep v magna 3 wolf moon tofu labore cillum. Enamel pin tempor velit, fanny pack schlitz qui intelligentsia hot chicken minim swag. </p>
  <p>You probably haven't heard of them etsy photo booth cred paleo.</p>
  <p>Aliqua marfa adipisicing, in jianbing minim aute street art. Celiac ex nisi pinterest tousled cliche irony in bicycle rights coloring book meggings la croix. Street art roof party everyday carry, commodo godard letterpress enim deep v master cleanse dolore semiotics. Yr qui health goth occupy, authentic twee kitsch keffiyeh. </p>
  <p>Mumblecore velit schlitz bicycle rights. Kale chips You should find this roof party taxidermy keffiyeh, echo park cliche cronut kinfolk laborum vinyl selfies ut four loko. Tacos cold-pressed meggings sunt proident drinking vinegar paleo. Blue bottle in in, bitters bushwick vape kogi copper mug. Direct trade shabby chic umami ut readymade mollit. </p>
  <p> Hexagon master cleanse poke put a Subscribe to Pewdiepie bird on it cliche post-ironic taxidermy aute adaptogen. Air plant anim art party intelligentsia everyday carry. Etsy yuccie vexillologist twee et, tilde 3 wolf moon. Pug woke brunch craft beer pour-over eiusmod. Everyday carry offal tousled, kickstarter retro roof party helvetica sustainable beard. </p>
  <p> Truffaut narwhal raclette brunch farm-to-table excepteur crucifix coloring book wolf pabst tempor kitsch. Raclette fam live-edge succulents ut intelligentsia mixtape vinyl pok pok +1 tousled ugh shabby chic adaptogen venmo. Copper mug fugiat bitters quis gentrify four loko qui retro roof party lo-fi pug subway tile viral cliche. Wolf edison bulb asymmetrical lomo vinyl, plaid quis put a bird on it forage pour-over. </p>
  <p> Oh. You need a little dummy text for your mockup? How quaint. </p>
  <p> I bet you’re still using Bootstrap too…</p>
</div>
