<div fxLayout="row" fxLayoutAlign="center center">
  <img src="../../favicon.ico" alt="logo" id="home-logo">
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <img src="../../assets/img/graph1.png" id="graph">
  <h1>This is a web page, <br> made for you to test.</h1>
  <button mat-button background-color="primary" routerLink="/register">Get Started</button>
</div>
<div>
  <p>Lorem ipsum dolor amet leggings craft beer tousled, gluten-free live-edge roof party single-origin coffee meh lorem ramps tempor snackwave anim yr cronut. Scenester laboris mumblecore intelligentsia, ethical woke in cillum vegan trust fund fashion axe disrupt. Cray dreamcatcher pok pok est in small batch humblebrag. Retro nulla gochujang XOXO, lumbersexual waistcoat copper mug beard sustainable deep v magna 3 wolf moon tofu labore cillum. Enamel pin tempor velit, fanny pack schlitz qui intelligentsia hot chicken minim swag. You probably haven't heard of them etsy photo booth cred paleo.</p>
</div>
