<div fxLayout="row" fxLayoutAlign="center center" id="first-div">
    <div id="outer-div">
      <div fxLayout="row" fxLayoutAlign="center center">
          <h1>Create a new account</h1>
      </div>
      <form (submit)="onAddUser(userForm)" #userForm="ngForm">
      <div id="inner-div">
            <h3>Name</h3>
            <mat-form-field>
                <input matInput type="text" name="inName" ngModel #name="ngModel" placeholder="Name" required>
                <mat-error *ngIf="name.invalid">You need to enter a name.</mat-error>
            </mat-form-field>
            <h3>E-mail</h3>
            <mat-form-field>
                <input matInput type="text" name="inEmail" ngModel #email="ngModel" placeholder="E-mail" required>
                <mat-error *ngIf="email.invalid">You need to enter a valid E-mail.</mat-error>
            </mat-form-field>
            <h3>Username</h3>
            <mat-form-field>
                <input matInput type="text" name="inUser" ngModel #username="ngModel" placeholder="Username" required minlength="4" maxlength="15">
                <mat-error *ngIf="username.invalid">You need to enter a valid username. Lenght: 4-15 characters.</mat-error>
            </mat-form-field>
            <h3>Password</h3>
            <mat-form-field>
                <input matInput type="password" name="inPass" ngModel #password="ngModel" placeholder="Password" required minlength="4" maxlength="20">
                <mat-error *ngIf="password.invalid">You need to enter a valid password. Lenght: 4-20 characters.</mat-error>
            </mat-form-field>
            <h3>Confirm Password</h3>
            <mat-form-field>
                <input matInput type="password" name="confPass" ngModel #password2="ngModel" placeholder="Repeat password" required minlength="4" maxlength="20">
                <mat-error *ngIf="password2.invalid">Passwords don't match.</mat-error>
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-checkbox (change)="changeCheck($event)" color="primary"><h4>I agree to the <a href="/terms">Terms of use & service</a>.</h4></mat-checkbox>
            </div>

            <button mat-raised-button [disabled]="disabledAgreement" type="submit">Create an account</button><p></p>
            <a href="www.google.com" id="google-reg">
              Register with   <img src="../../assets/img/google.png" alt="google_sign-in">
            </a>
            <h4>You already have an account?</h4>
            <a routerLink="/login" class="reg-link">Log In.</a>
      </div>
    </form>
    </div>
  </div>
